html, body, div {margin: 0;padding: 0;}
#top	{margin: 0 auto;height: 25px;background: dodgerblue;border: 1px solid dodgerblue;padding-left: 10px;}
header	{font-family: Geneva; margin: 0 auto;height: 110px; border: 1px solid #D9D9D9;background: #F9F7F7; padding-left: 40px;}
header a {
    float: left;
    text-decoration:none;
    color:black;
   /* border-bottom: 1px solid dodgerblue;*/
   /*border-bottom: 3px solid dodgerblue;
   border-left: 3px solid lightsteelblue;*/
}
#content {width: 100%;margin: 0 auto;overflow: hidden;}
#content .left {float: left;width: 60%;height: 600px;padding-left: 40px; padding-top: 25px;}
#content .left #id_text {
    font-family: Geneva;
    font-size: 14px;
    resize: none;
    width:400px;
    height:100px;
    border: 1px solid #D9D9D9;
    border-radius: 3px 3px 3px 3px;
    transition: all 0.5s ease 0s;
    z-index: 1;

}
#content .left #id_text:focus{border-color:lightsteelblue }
#content .left #btSubmit {
    text-transform: uppercase;
    border: medium none;
    cursor: pointer;
    color: white;
    margin-left:300px;
    background: none repeat scroll 0 0 dodgerblue;
    width: 90px;
    height:32px;
    font-weight: 700;
    font-family: Geneva;
    font-size: 12px;
    border-radius: 3px 3px 3px 3px;
}
#content .left #btSubmit:hover {border: 1px solid lightsteelblue;border-radius: 3px 3px 3px 3px;}/*background: none repeat scroll 0 0 #2D2D2D}
*/
#content .left .title {
    font-family: Geneva;
    font-size: 16px;
    border-left: 3px solid dodgerblue  ;
    font-weight: 700;
    padding-left: 3px;
    color: #2D2D2D;
}
#content .line {
    float: left;
    width: 1px;
    height: 600px;
    background: #D9D9D9;
}
#content .right h4 {
    color: black;
    text-align: center;
    margin-top: 10px;
}



#content .right {
    float: left;
    height: 600px;
    font-family: Geneva;
    font-size: 15px;
    width:35%;
    background: #F9F7F7;
    /*margin-top: 20px;*/
}
#content .right ul {
    list-style-type: none;
    padding-left: 7px;
    color: #2D2D2D;


}
#content .right ul li {
    margin-bottom: 5px;
    /*margin-top: 7px;*/
    border-bottom: 0.5px solid dodgerblue;
}
#content .right ul li:hover {
    border: 1px solid dodgerblue;
    border-radius: 3px 3px 3px 3px;
    background:dodgerblue;
    color:white;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 10px;

}
footer {
    margin: 0 auto;
    border: 1px solid dodgerblue;
    background: dodgerblue;
    text-align: center;
    padding-top: 10px;
    color: lightsteelblue;
    width: 100%;
}
footer ul {list-style-type: none;}
footer ul li:hover {color:black;}*/