<!DOCTYPE HTML>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-theme.min.css"/>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/layout.css"/>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.tagit.css"/>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/tagit.ui-zendesk.css"/>
	
	<script type="text/javascript" charset="utf-8" src="{{STATIC_URL}}js/jquery.js" ></script>
	<script type="text/javascript" charset="utf-8" src="{{STATIC_URL}}js/jquery-ui.min.js" ></script>

	<script type="text/javascript" charset="utf-8" src="{{STATIC_URL}}js/tag-it.js" ></script>
	<script type="text/javascript" charset="utf-8" src="{{STATIC_URL}}js/bootstrap.min.js" ></script>

	{% block extra_head%}{% endblock %}

	<title></title>

</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
        </div>
      </div>
    </nav>

	<div class="jumbotron">
      <div class="container">
        <h1><a href="{% url 'home' %}">PyMinds</a></h1>
      </div>
    </div>

	<div class="container">
		<div class="row">
			<div class="col-md-8">
				{% block content_left %}{% endblock %}
			</div>

			<div class="col-md-4">
				{% block content_right %}{% endblock %}
			</div>
		</div>
    </div>

	<!--<footer>-->
        <!--<p>© Company 2015</p>-->
    <!--</footer>-->
</body>
</html>