{% extends 'base.html' %}

        {% block extra_head%}
            <script type="text/javascript">
                $(document).ready(function() {
                    var sampleTags = {{tags}}
                    $('#id_tags').tagit({
                        availableTags: sampleTags
                    });
                });
            </script>

        {% endblock %}


        {% block content_left %}
        <h3 class="title">Question {{number_next_question}}</h3>
            <form method='POST' action=''>
         {% csrf_token %}
        {{ form }}
         <input type="submit" id="btSubmit" value="Raise">
                </form>
        {% endblock %}

        {% block content_right %}
{#        Questions: {{count_questions}}#}
        <h4>Schedules: {{count_schedules}}
        next {{ next_schedule.date|date:"d/m/Y"  }}</h4>
           <ul>
        {% for s in schedules %}
            <li><a href="{% url 'schedule_page' s.id %}">{{s}}</a></li>
       {% endfor %}
            </ul>
		{% endblock %}