{% extends 'base.html' %}

{% block extra_head%}

    <script type="text/javascript">
        $(document).ready(function() {
            $("#forgot-question").live("click", function() {
                var pk = $(this).attr("question-id");
                $.post(
                    "{% url 'review:forgot_question' %}",
                    {pk: pk,
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                    }
                );
            });
        });
    </script>

{% endblock %}

{% block content_left %}

<h1 class="title">{{schedule}}</h1>
<h3 class="subtitle">{{ schedule.review }}</h3>
    <ul class="schedule-ul">
    {% for question in schedule.review.question_set.all %}
        <li>
            {{ question.text }} <br/>
            {{ question.reference_link }}
            {% for tag in question.tags.all %}
                <span class="mytags">{{tag.name}}</span>
            {% endfor %}
            <a href="#" id="forgot-question" question-id="{{ question.id }}" class="btForgot">Forget</a>
        </li>
    {% endfor %}
    </ul>
    <form class="schedule-form" method="post" action="">
        {% csrf_token %}
        <input id="btSubmit" type="submit" value="submeter"/>
        </form>

{% endblock %}
