{% extends 'base.html' %}

{% block extra_head%}
    <script type="text/javascript">
    $(document).ready(function () {
        $("#btUnlearn").click(function () {
        });
    });
    </script>
{% endblock %}

{% block content_left %}
<h1 class="title">{{schedule}}</h1>
<h3 class="subtitle">{{ schedule.review }}</h3>
    <ul class="schedule-ul">
    {% for q in schedule.review.question_set.all %}
        <li>
            {{ q.text }}
            {% for tag in q.tag_set.all %}
                <span class="mytags">{{tag.name}}</span>
            {% endfor %}
            <input id="btUnlearn" type="submit" value="unlearn"/>
        </li>
    {% endfor %}
    </ul>
    <form class="schedule-form" method="post" action="">
        {% csrf_token %}
        <input id="btSubmit" type="submit" value="submeter"/>
        </form>

{% endblock %}
